/* .overlay{

} */
/* .navbar-nav{
    color: blue;
    
} */
/* .header{
    justify-content: center;
    padding: 30px 35px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    opacity: 1;
    visibility: visible;
}
.header .navbar-brand{
    position: relative;
    float: left;
    font-family: 'Kaushan Script', helvetica;
    font-size: 32px;
    line-height: 46px;
    font-weight: 600;
    color: black;
} */
/* .nav-link{
    color: black;
    font-size: larger;
} */
.Home .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.social-widget-header{
    position: absolute;
    margin: 20px 30px 0;
    padding: 15px 0;
    justify-content: center;
}

.testcarousel{text-align: center;}

.About{
    justify-content: space-evenly;
    
}

/* .fancy-border-radius-1 {
    border-radius: 29% 71% 56% 44% / 43% 67% 33% 57%;
  
    width: 300px;
    height: 200px;
    background: #f6c102;
    background: -webkit-linear-gradient(to bottom right,
        #f6c102,
        #ffe496);
    background: linear-gradient(to bottom right,
        #f6c102,
        #ffe496);
  } */

.about-me-section-align-left{
    height: 200vh;
    width: 100%;
    padding: 100px 0 40px;
    padding-left: 50px;
}
.text-black{
    color: white;
    background-color: white;
}
.img1 {
    height: 900px;
    position: relative;
    top: 0px;
    /* font-size: 24px; */
    color: #ffffff;
    width: 90%;
    border-radius: 500px;
    /* padding-bottom: 50px; */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
      }

.list-inline{
    display: block;
    
/* }
.navbar-toggler-icon{
    color: black;
    visibility: visible;
    
}
.navbar-toggler-icon{
    color: black;
    background-color:white; */
}
.Resume{
    height: 100vh;
    width: 100%;
    padding: 60px 0 40px;
    background-color:  rgba(97, 96, 92, 0.527);
    z-index: 9478470375037507094755085370953;
}
/* .border{
    color: thick solid black;
} */
.Skills{
    height: 100vh;
    width: 50%;
    padding: 60px 0 40px;
    z-index: 7607603737409743096770347437606;
}
.projects-section{
    height: max-content;
    width: 100%;
    padding: 60px 0 40px;
    z-index: 9607603737409743096770347437606;
}
.Testimonials{
    height: 100vh;
    width: 100%;
    padding: 60px 0 40px;
    /* background-image: url(https://cdn.pixabay.com/photo/2020/04/05/07/25/sunset-5004905_960_720.jpg); */
    background-size: cover;
    z-index: 9368963465846594659846896684848;
    
}
.w-50{
    text-align: center;
    height: 300px;
    width: 100px;
    border-radius: 250px;
} 

.d-block{
    margin: auto
}
.Contact-Me{
    height: max-content;
    width: 100%;
    padding: 60px 0 40px;
    z-index: 94589658638468368436986485846356;
}



/* carousel section */


/* .carouselExampleCaptions{
    height: 100vh;
    width: 100%;
    padding: 60px 0 40px;
} */
.carousel-inner{
    height: 100%;
}

/* Typewriter animation inspired by CSS Tricks*/
.headings h1 {
    overflow: hidden; 
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      animation-iteration-count: infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 60% }
  }
  
  /* The headings cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }

 




/* Navbar section */

  * {margin: 0; padding: 0; box-sizing: border-box;}
.spacer {width: 100%; height: 100px;}

body {font-family: "Open Sans", sans-serif;}

nav {
	width: 100%; 
	background-color: rgb(73, 69, 69); 
	display: flex;
	justify-content: space-between;
    position: fixed;
}
.logo {
	padding: 20px; 
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
nav .nav-bar {
	padding: 20px; 
	display: flex; 
}
nav .nav-bar .nav-bar_item {
	list-style-type: none;
	padding: 0px 20px;
}
nav .nav-bar .dropdown {
	position: relative;
}
nav .nav-bar .nav-bar_item a {
	position: relative;
	display: block; 
	padding-bottom: 5px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
nav .nav-bar .nav-bar_item a:after {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #fff;
	transition: 0.1s ease-in-out;
}
nav .nav-bar .nav-bar_item a:hover:after {
	width: 100%;
}




/*Horizontal Timeline*/

body{margin-top:20px;}
.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media all and (max-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

/* body{
    overflow-x: hidden;
}
*{
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
}
 */



