/* .overlay{

} */
.navbar-nav{
    color: blue;
    
}
.header{
    justify-content: center;
    padding: 30px 35px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    opacity: 1;
    visibility: visible;
}
.header .navbar-brand{
    position: relative;
    float: left;
    font-family: 'Kaushan Script', helvetica;
    font-size: 32px;
    line-height: 46px;
    font-weight: 600;
    color: black;
}
.nav-link{
    color: black;
    font-size: larger;
}
.background .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.social-widget-header{
    position: absolute;
    margin: 20px 30px 0;
    padding: 15px 0;
    justify-content: center;
}

.testcarousel{text-align: center;}

.About{
    justify-content: space-evenly;

}
.about-me-section-align-left{
    height: 200vh;
    width: 100%;
    padding: 100px 0 40px;
    padding-left: 50px;
}
.img1 {
    height: 700px;
    position: relative;
    top: 0px;
    /* font-size: 24px; */
    color: #ffffff;
    width: 100%;
    padding-bottom: 50px;
}
.list-inline{
    display: block;
    
}
.navbar-toggler-icon{
    color: black;
    visibility: visible;
    
}
.navbar-toggler-icon{
    color: black;
    background-color:white;
}
.work-and-Education{
    height: 100vh;
    width: 100%;
    padding: 60px 0 40px;
}
.Skills{
    height: 100vh;
    width: 100%;
    padding: 60px 0 40px;
}
.projects-section{
    height: 100vh;
    width: 100%;
    padding: 60px 0 40px;
}
.Testimonials{
    height: 100vh;
    width: 100%;
    padding: 60px 0 40px;
    /* background-image: url(https://cdn.pixabay.com/photo/2020/04/05/07/25/sunset-5004905_960_720.jpg); */
    background-size: cover;
    
}
.w-50{
    text-align: center;
    height: 300px;
    width: 50px;
} 

.d-block{
    margin: auto
}
.Contact-Me{
    height: 100vh;
    width: 100%;
    padding: 60px 0 40px;
}
/* .carouselExampleCaptions{
    height: 100vh;
    width: 100%;
    padding: 60px 0 40px;
} */
.carousel-inner{
    height: 100p0x;
}

/* Typewriter animation inspired by CSS Tricks*/
.headings h1 {
    overflow: hidden; 
    border-right: .15em solid blue;
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      animation-iteration-count: infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 60% }
  }
  
  /* The headings cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: blue; }
  }